.FiltersSort {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 750px) {
    .FiltersSort {
        flex-flow: column;
        align-items: unset;
    }
}
